.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}
.input-window {
    text-align: end;
    font-size: x-large;
}
body {
    background-color: rgb(246, 189, 189);
}
#calc {
    background-color: rgb(189, 230, 255);
}
.btn {
    font-size: larger;
    font-size: xx-large;
}